@media (min-width: 1919.98px) {//------------------------------------------------------
   //=INFO=======(Общие классы)===========================
   .info {
      &__title {
         font-size: 36px;
         line-height: 44px;
         margin-bottom: 38px;
      }
      &__inner {
         padding-left: 143px;
         padding-top: 20px;
         margin-bottom: 132px;
      }
      &__info{
         max-width: 967px;
      }
      &__text {
         font-size: 24px;
         line-height: 30px;
         margin-bottom: 30px;
      }
   }
   //=INFO=======(Общие классы)===========================
}   
@media (max-width: 1251.98px) {//------------------------------------------------------
}

@media (max-width: 1023.98px) {//------------------------------------------------------
}  

@media (max-width: 990.98px) {//------------------------------------------------------
}

@media (max-width: 767.98px) {//------------------------------------------------------
   //=privacy========================
   .privacy {
	
		&__title {
         margin-bottom: 24px;
		}
   }
   //=privacy========================
}
@media (max-width: 639.98px) {//------------------------------------------------------
}

@media (max-width: 419.98px) {//------------------------------------------------------
}